html, body {
    margin: 0px;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: pink;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    color: rgb(128 41 62);
    font-size: 24px;
}

.title img {
    margin: 20px;
}

nav ul {
    display: flex;
    justify-content: flex-start;
}

nav {
    background-color: rgb(206, 128, 146);
}

.pages {
    width: 100px;
    list-style-type: none;
}

.pages a {
    color: rgb(128 41 62);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.banner {
    background-color:rgb(73, 46, 52);
    color: white;
    padding: 100px;
    font-size: 20px;
}

.banner-header {
    font-size: 40px;
    margin-bottom: 40px;
}

main {
    padding: 20px;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid;
}

th, td {
    padding: 5px;
}

th {
    background-color: gray;
}

td {
    background-color: darkgray;
}

footer {
    background-color: pink;
    padding: 20px;
    text-align: center;
}
